{% extends 'base.html' %}

{% block content %}

      <p>
        Log in to get started on your interview journey!
      </p>
      
      <form id="loginform" method="post">    
        {% if error is defined %}
          {{error}}<br/>
        {% endif %}

        <input type="hidden" id="jwt" name="jwt">
        <input type="hidden" id="pubkey" name="pubkey">
      </form>
      <input type="button" class="btn btn-primary" value="Log In" onclick="startBitcloutLogin();">

  <iframe id="identity" frameborder="0" src="https://identity.bitclout.com/embed?v=2" style="height: 100vh; width: 100vw;visibility:hidden;position:absolute;"></iframe>
  <script src="{{ url_for('static', filename='BitcloutLogin.js') }}"></script>
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
{% endblock %}